#Data Base
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_DATABASE=wasel-DB
DB_PORT=5432
DB_HOST=localhost


#JWT
JWT_SECRET=YXYVHlMZnjmdh+SHK9VVS1I1GurvJvw5FBwx2Xs3Km8
JWT_EXPIRES_IN=1d


NODE_ENV=development